<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Logg inn</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body class="auth-body">

<div class="auth-card">
    <h2 class="auth-title">Logg inn</h2>

    <form method="POST" class="auth-form">
        <input type="text" name="username" placeholder="Brukernavn" class="auth-input" required>
        <input type="password" name="password" placeholder="Passord" class="auth-input" required>

        <button class="auth-btn">Logg inn</button>
    </form>

    <p class="auth-switch">
        Har du ikke konto?
        <a href="/register">Registrer deg</a>
    </p>
</div>

</body>
</html>
