{% extends "oppgaver_layout.html" %}

{% block title %}Regnerekkefølge{% endblock %}

{% block task_content %}
<!--lukk knapp-->
<a href="/oppgaver" class="close-btn">✕</a>

<h1>Regnerekkefølge</h1>

<h3>Velg nivå</h3>

<div class="level-buttons">
    <a href="/oppgaver/algebra/regnerekkefolge/nivaa1" class="level-btn level-btn-easy">Nivå 1</a>
    <a href="/oppgaver/algebra/regnerekkefolge/nivaa2" class="level-btn level-btn-medium">Nivå 2</a>
    <a href="/oppgaver/algebra/regnerekkefolge/nivaa3" class="level-btn level-btn-hard">Nivå 3</a>

</div>


<div class="theory-box mt-4">
    <h3>Forklaring</h3>
    <p>Regnerekkefølge forteller oss hvilken del av et uttrykk vi skal regne ut først.</p>
</div>
{% endblock %}
